openapi: 3.0.0
info:
  contact:
    email: support@kagi.com
    name: API Support
    url: https://kagi.com/support
  description: "The Kagi API provides programmatic access to data that powers our\
    \ search results & more. \n\nQuick start for all APIs:\n\n- Create an account\
    \ at [Kagi](https://kagi.com/signup)\n- Generate an [API key](https://kagi.com/settings?p=api)\n\
    - Call the API\n\nWe have the following APIs available.\n### Commercial\n\n- Kagi\
    \ Search API (invite only at the moment)\n- Web and News Enrichment API (public,\
    \ exposes Kagi's own indexes Teclis and TinyGem)\n\n### Free\n\n- Kagi Small Web\
    \ RSS feed (public)\n\n### Official Client Libraries\n\nWe offer the following\
    \ libraries you can use to interact with the Kagi API. These are generated from\
    \ an OpenAPI spec. If you have a language you would like to use and it's not in\
    \ the list, send us a message and we will add it to the list if it is supported.\
    \ Or you can use the [spec](https://wild-wombat.redocly.app/_spec/openapi.yaml?download)\
    \ to build your own custom library.\n\n- [Golang](https://github.com/kagisearch/kagi-api-golang)\n\
    - [Python](https://github.com/kagisearch/kagi-api-python)\n- [Rust](https://github.com/kagisearch/kagi-api-rust)\n\
    \n### Unofficial Client Libraries\n\nThere also exist third party libraries for\
    \ interacting with the Kagi API.\n\n- [kagi-api](https://crates.io/crates/kagi-api)\
    \ for Rust\n- [kagi-api](https://alchemists.io/projects/kagi-api) for Ruby\n-\
    \ [kagi-dotnet](https://github.com/patchoulish/kagi-dotnet) for C#/.NET\n\n###\
    \ API Status\n\nOur existing API, the \"v0\" beta API, is being replaced with\
    \ a new version that will be available publicly soon. As changes are made, we\
    \ will be updating the documentation below when the new features become available.\n\
    \nSee the [Support and Community](https://help.kagi.com/kagi/support-and-community/)\
    \ section for details.\n### Pricing\n\nWe are in the process of moving all APIs\
    \ to a post-paid tiered system, where each tier has a limit on the number of requests\
    \ that can be made. If an API has a pricing section, then it is still being migrated\
    \ over to the new billing system.\n\n### GitHub Discussions\n\nThis is the preferred\
    \ venue for bug reports and feature requests.\n\n- [Bug Reports](https://github.com/kagisearch/kagi-docs/issues/new/choose)\n\
    - [Q&A Forum](https://github.com/kagisearch/kagi-docs/discussions/categories/q-a?discussions_q=category%3AQ%26A+label%3Aproduct%3Akagi_search_api)\n\
    - [API Feature Requests](https://github.com/kagisearch/kagi-docs/discussions/categories/kagi-search-api-feature-requests-ideas)\n\
    \n### Discord\nJoin our [Discord](https://kagi.com/discord)! Good for quick questions\
    \ or chatting about things you've made with our APIs!\n"
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Kagi API
  version: 0.1.0
servers:
- description: Production api endpoint
  url: https://kagi.com/api/v1
tags:
- description: |
    The Search API gives programmable access to Kagi's premium search results. These results are pulled from many different sources, including our inhouse indexes, and re ranked inorder surface more interesting and applicable results. Because we do not accept money for paid placement or advertising, the results should natually be more in tune to the search being performed.

    You can read about our approach towards search [on our blog](https://blog.kagi.com/the-many-benefits-of-paying-for-search).

    The API also supports some of the features that we offer through our web UI, mainly Lenses.

    ## Lenses

    Lenses allow more fine grained filtering and control over the search results, and what sort of content is returned. You can read more about how Lenses work in [our documentation](https://help.kagi.com/kagi/features/lenses.html).


    ## Pricing

    Pricing for the Search API is currently being updated, once launched this section will be updated with how much it will cost to use.
  name: Search
  x-displayName: Search API
- description: |
    The Enrichment APIs are a collection of indexes that can be used to supplement other products with more novel content from around the web.

    Enrichment APIs allow anyone to get Kagi's unique results, namely the Teclis index (web results) and TinyGem index (news results).

    They are best used for finding non-commercial websites and "small web" discussions surrounding a particular topic. The news enrichment API offers interesting discussions and news worth reading from typically non-mainstream sources.

    They are not "general" search indexes that can answer any type of query, but rather these results are our "secret sauce" and what makes Kagi results unique and interesting and are best used in combination with a general results index.
    ### Pricing

    Since results are niche, we bill only when non-zero results are returned.
  name: Enrichment
  x-displayName: Enrichment API
- description: |
    The Translate APIs are a collection of endpoints that can be used to translate webpages, documents, and text into different laguages. You can try our amazing [web app here](https://translate.kagi.com/) to get a good idea of what is possible when you don't have to worry about the language of online communication.
  name: Translate
  x-displayName: Translate API
- description: |
    Extract contents from web pages. This endpoint accepts a list of URLs
    and returns the extracted markdown content for each page.
  name: Extract
  x-displayName: Extract API
paths:
  /search:
    post:
      operationId: search
      requestBody:
        content:
          application/json:
            examples:
              basicSearch:
                description: Simple search showing how to use the search API
                summary: Basic search query
                value:
                  query: steve jobs
                  workflow: search
              snapSearch:
                description: Snaps are supported for quickly searching in individual
                  sites
                summary: Search with snaps
                value:
                  query: '@r headphones'
                  workflow: search
              imageSearch:
                description: "Searching just for images, or other categories is supported\
                  \ using the workflow parameter"
                summary: Search just for images
                value:
                  query: doggo
                  workflow: images
            schema:
              $ref: "#/components/schemas/search_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: Response with example search objects
                  value:
                    meta:
                      trace: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                      query:
                        raw: steve jobs
                        terms: steve jobs
                        workflow: search
                        fields:
                        - kind: token
                          value: steve
                          name: ""
                          negate: false
                        - kind: token
                          value: jobs
                          name: ""
                          negate: false
                    data:
                      search:
                      - url: https://www.billboard.com/pro/iphone-turns-10-steve-jobs-introduction-apple-ads/
                        title: "iPhone Turns 10: Watch Steve Jobs Introduce Apple’\
                          s ‘Revolutionary ..."
                        time: 2017-01-09T14:49:00Z
                        image:
                          url: https://www.billboard.com/wp-content/uploads/media/Steve-Jobs-2007-iphone-billboard-1548.jpg
                          height: 1024
                          width: 1548
                        props:
                          thumbnail_image:
                            url: https://tse1.mm.bing.net/th/id/OIP.etmvjdMAF91p8PbA3bH4-wHaE5?pid=Api
                            height: 313
                            width: 474
                          paywalled: true
                          sort_normalize_url: //billboard.com/pro/iphone-turns-10-steve-jobs-introduction-apple-ads
                          sort_group_id: billboard.com
                      video:
                      - url: https://www.youtube.com/watch?v=UF8uR6Z6KLc
                        title: Steve Jobs&#39; 2005 Stanford Commencement Address
                        snippet: Steve Jobs&#39; 2005 Stanford Commencement Address
                          · Comments. 27K. Who is listening to this in 2025? 22:10
                          · Go to channel. Steve Jobs&#39; 2005 ...
                        time: 2024-11-29T03:54:26Z
                        image:
                          url: https://i.ytimg.com/vi/UF8uR6Z6KLc/hqdefault.jpg?sqp=-oaymwEmCOADEOgC8quKqQMa8AEB-AG-AoAC8AGKAgwIABABGGUgTShAMA8=&rs=AOn4CLBQpu5eC9IARIhuqaqee1Zc53SWpw
                          height: 480
                          width: 360
                        props:
                          hires_thumbnail_url: https://i.ytimg.com/vi/UF8uR6Z6KLc/hqdefault.jpg
                          sort_normalize_url: //youtube.com/watch?v=UF8uR6Z6KLc
                          sort_group_id: youtube.com
                          language: en
                          language_probability: 0.9551553726196289
                      web_archive:
                      - url: https://web.archive.org/web/20111007174823/http://netspencer.com/stevejobs/
                        title: steve jobs
                        snippet: "It is best to admit them quickly, and get on with\
                          \ improving your other innovations. Being the richest man\
                          \ in the cemetery doesn’t matter to me … Going to bed at\
                          \ night saying we’ve done something wonderful… that’s what\
                          \ matters to me. I’m convinced that about half of what separates\
                          \ the successful entrepreneurs from the non-successful ones\
                          \ is pure per.."
                        time: 2011-10-07T17:48:23Z
                        props:
                          language: en
                          language_probability: 0.9240066409111023
                          web_archive_domain: netspencer.com
                      infobox:
                      - url: https://en.wikipedia.org/wiki/Steve_Jobs
                        title: Steve Jobs
                        snippet: "Steven Paul Jobs (February 24, 1955 – October 5,\
                          \ 2011) was an American businessman, inventor, and ...."
                        image:
                          url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg
                          height: 300
                          width: 310
                        props:
                          infobox:
                          - header: Born
                            value: "Steven Paul Jobs<br> February 24, 1955<br> San\
                              \ Francisco, California, U.S."
                            merged: false
                          wikipedia.subtext: American businessman and inventor (1955–2011)
                          wikipedia.page_id: 7412236
                          language: en
                          language_probability: 0.8304631114006042
                      adjacent_question:
                      - url: https://www.ceotodaymagazine.com/2025/02/steve-jobs-10-minute-rule-you-can-implement/
                        title: "Steve Jobs&#39; 10-Minute Rule: How Walking Boosts\
                          \ Brainpower"
                        snippet: "Steve Jobs was a visionary, innovator, and problem-solver,\
                          \ but he also had a simple secret for overcoming mental\
                          \ roadblocks: The 10-Minute Rule. According to his biographer,\
                          \ Walter Isaacson, Jobs believed that if he couldn't solve\
                          \ a problem in 10 minutes, he needed to step away and go\
                          \ for a walk—often barefoot."
                        time: 2025-02-01T00:00:00Z
                        props:
                          question: What is Steve Jobs' 10 minute rule?
                          language: en
                          language_probability: 0.9541819095611572
              schema:
                $ref: "#/components/schemas/search_200_response"
            text/markdown:
              schema:
                description: Plain markdown search results without JSON wrapper
                type: string
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with unauthorized error
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    data: null
                    error:
                    - code: "2"
                      url: https://help.kagi.com/api/errors#unauthorized
                      message: Unauthorized
                      location: null
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Access token is missing or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Forbidden - IP address not authorized
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Rate limited or usage limit exhausted
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Internal server error
      security:
      - kagi: []
      summary: Perform a web search
      tags:
      - Search
  /enrich/{type}:
    get:
      operationId: enrichSearch
      parameters:
      - description: Query to enrich
        example: steve jobs
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Enrich a search query with results pulled from Kagi indexes.
        explode: false
        in: path
        name: type
        required: true
        schema:
          default: web
          enum:
          - news
          - web
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: A truncated enrichment result
                  value:
                    meta:
                      id: db862c5b-c594-4480-9e0c-86a14f71cf0e
                      node: us-east4
                      ms: 386
                    data:
                    - t: 0
                      rank: 1
                      url: http://minimsft.blogspot.com/2011/01/microsoft-fy11q2-results.html
                      title: "Mini-Microsoft: Microsoft FY11Q2 Results"
                      snippet: "Like I said, there&#39;s a big convergence ahead of\
                        \ us, and it will be good to start aligning a simpler development\
                        \ story, both for Microsoft and its partners. The biggest\
                        \ obvious concern is the development path for the mobile platform\
                        \ compared to the development path for Windows, but even there\
                        \ you can squint and see on the horizon the possibility for.."
                      published: 2011-01-01T00:00:00Z
                    - t: 0
                      rank: 2
                      url: http://toastytech.com/guis/bob.html
                      title: Microsoft Bob
                      snippet: Microsoft Bob| Microsoft Bob And so Microsoft Bob disappeared
                        in to obscurity.
              schema:
                $ref: "#/components/schemas/enrichSearch_200_response"
          description: Success
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with unauthorized error
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    data: null
                    error:
                    - code: "2"
                      url: https://help.kagi.com/api/errors#unauthorized
                      message: Unauthorized
                      location: null
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Access token is missing or invalid
      security:
      - kagi: []
      summary: Get enriched search results
      tags:
      - Enrichment
  /extract:
    post:
      description: |
        Extracts markdown content from up to 10 HTTP(s) URLs. Each URL is processed
        and the extracted content is returned in the response.
      operationId: extractContent
      requestBody:
        content:
          application/json:
            examples:
              basicExtract:
                description: Request to extract content from up to 10 web pages
                summary: Extract from multiple URLs
                value:
                  pages:
                  - url: https://example.com/article1
                  - url: https://example.com/article2
                  timeout: 30
                  format: json
            schema:
              $ref: "#/components/schemas/extractRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                default:
                  summary: Successful extraction response
                  value:
                    meta:
                      trace: abc123def456
                      ms: 1250
                      node: us-east-1
                    data:
                    - url: https://example.com/article
                      markdown: |-
                        # Article Title

                        This is the extracted content...
              schema:
                $ref: "#/components/schemas/extractResponse"
            text/markdown:
              schema:
                description: Plain markdown extracted content without JSON wrapper
                type: string
          description: Successful extraction
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Invalid request parameters
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with unauthorized error
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    data: null
                    error:
                    - code: "2"
                      url: https://help.kagi.com/api/errors#unauthorized
                      message: Unauthorized
                      location: null
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Access token is missing or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Forbidden - IP address not authorized
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Rate limited or usage limit exhausted
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Internal server error
      security:
      - kagi: []
      summary: Extract page content as markdown from URLs
      tags:
      - Extract
  /alternative-translations:
    post:
      description: "Provides alternative translation options for a given text with\
        \ explanations. Supports two modes: standard mode (alternatives for a full\
        \ translation) and partial mode (alternative ways to phrase a specific part\
        \ of a translation)."
      operationId: translateAlternatives
      requestBody:
        content:
          multipart/form-data:
            examples:
              standardMode:
                description: Getting alternative full translations
                summary: Standard Mode
                value:
                  original_text: Hello world
                  existing_translation: Hola mundo
                  source_lang: en
                  target_lang: es
                  target_explanation_language: en
                  partial_translation: "false"
              partialMode:
                description: Getting alternative phrasings for a specific part
                summary: Partial Mode
                value:
                  original_text: We need to inform our team about a schedule change.
                    The meeting is postponed. It will be rescheduled to 10am tomorrow.
                  existing_translation: La riunione è stata posticipata
                  source_lang: en
                  target_lang: it
                  target_explanation_language: en
                  partial_translation: "true"
              withOptions:
                description: Using translation options for customized alternatives
                summary: With Translation Options
                value:
                  original_text: I am pleased to meet you
                  existing_translation: Encantado de conocerte
                  source_lang: en
                  target_lang: es
                  target_explanation_language: en
                  partial_translation: "false"
                  translation_options: "{\"formality\":\"more\",\"speaker_gender\"\
                    :\"masculine\"}"
            schema:
              $ref: "#/components/schemas/translateAlternatives_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                standardModeResponse:
                  summary: Standard Mode Response
                  value:
                    originalDescription: "Standard greeting in Spanish, informal but\
                      \ polite, commonly used in everyday situations"
                    elements:
                    - translation: Saludos al mundo
                      explanation: This alternative uses 'Saludos' (Greetings) instead
                        of 'Hola' for a slightly more formal greeting.
                    - translation: "Qué tal, mundo"
                      explanation: "Uses the informal greeting 'Qué tal' which is\
                        \ similar to 'What's up' in English, making it more casual."
                partialModeResponse:
                  summary: Partial Mode Response
                  value:
                    originalDescription: Italian phrase indicating that a meeting
                      has been postponed
                    elements:
                    - translation: L'incontro è stato rinviato
                      explanation: Uses 'l'incontro' (the meeting) and 'rinviato'
                        (postponed/rescheduled) for a slightly more formal tone.
                    - translation: La riunione è rimandata
                      explanation: "Uses 'rimandata' (delayed/postponed) which has\
                        \ a slightly different connotation, implying a brief delay."
              schema:
                $ref: "#/components/schemas/translateAlternatives_200_response"
          description: Alternative translations with explanations
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateAlternatives_401_response"
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateAlternatives_402_response"
          description: Payment Required
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateAlternatives_500_response"
          description: Server error
      security:
      - kagi-translate: []
      summary: Alternative Translations
      tags:
      - Translate
      x-codeSamples:
      - lang: curl
        label: Curl (Standard Mode)
        source: |
          curl -X POST "https://translate.kagi.com/api/alternative-translations" \
            -H "Authorization: Bearer YOUR_API_KEY" \
            -F "original_text=Hello world" \
            -F "existing_translation=Hola mundo" \
            -F "source_lang=en" \
            -F "target_lang=es" \
            -F "target_explanation_language=en" \
            -F "partial_translation=false" \
            -F 'translation_options={"formality":"more","speaker_gender":"feminine"}'
      - lang: curl
        label: Curl (Partial Mode)
        source: |
          curl -X POST "https://translate.kagi.com/api/alternative-translations" \
            -H "Authorization: Bearer YOUR_API_KEY" \
            -F "original_text=We need to inform our team about a schedule change. The meeting is postponed. It will be rescheduled to 10am tomorrow." \
            -F "existing_translation=La riunione è stata posticipata" \
            -F "source_lang=en" \
            -F "target_lang=it" \
            -F "target_explanation_language=en" \
            -F "partial_translation=true"
      - lang: JavaScript
        label: JavaScript (Standard Mode)
        source: |
          const formData = new FormData();
          formData.append('original_text', 'Hello world');
          formData.append('existing_translation', 'Hola mundo');
          formData.append('source_lang', 'en');
          formData.append('target_lang', 'es');
          formData.append('target_explanation_language', 'en');
          formData.append('partial_translation', 'false');

          // Optional: Add translation options for more control
          const translationOptions = {
            formality: 'more',            // Controls formality level
            speaker_gender: 'feminine',    // For gender-specific languages
            addressee_gender: 'masculine', // For languages with gendered address forms
            style: 'natural'              // Translation style preference
          };
          formData.append('translation_options', JSON.stringify(translationOptions));

          const response = await fetch(
            'https://translate.kagi.com/api/alternative-translations',
            {
              method: 'POST',
              headers: {
                'Authorization': 'Bearer YOUR_API_KEY'
              },
              body: formData
            }
          );

          const data = await response.json();
          console.log(data.elements);
      - lang: JavaScript
        label: JavaScript (Partial Mode)
        source: |
          const formData = new FormData();
          // Original text provides context but may not be needed in partial mode
          formData.append('original_text', 'We need to inform our team about a schedule change. The meeting is postponed. It will be rescheduled to 10am tomorrow.');
          // In partial mode, this is the phrase you want alternative phrasings for
          formData.append('existing_translation', 'La riunione è stata posticipata');
          formData.append('source_lang', 'en');
          formData.append('target_lang', 'it');
          formData.append('target_explanation_language', 'en');
          formData.append('partial_translation', 'true');

          const response = await fetch(
            'https://translate.kagi.com/api/alternative-translations',
            {
              method: 'POST',
              headers: {
                'Authorization': 'Bearer YOUR_API_KEY'
              },
              body: formData
            }
          );

          const data = await response.json();
          console.log(data.elements);
    servers:
    - description: Translate production endpoint
      url: https://translate.kagi.com
  /api/detect:
    post:
      description: Detects the language of the provided text.
      operationId: translateDetect
      requestBody:
        content:
          application/json:
            examples:
              englishDetection:
                value:
                  text: Hello world
              spanishDetection:
                value:
                  text: Hola mundo
              frenchDetection:
                value:
                  text: Bonjour le monde
            schema:
              $ref: "#/components/schemas/translateDetect_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                englishDetection:
                  value:
                    iso: en
                    label: English
                spanishDetection:
                  value:
                    iso: es
                    label: Spanish
                frenchDetection:
                  value:
                    iso: fr
                    label: French
              schema:
                $ref: "#/components/schemas/translateDetect_200_response"
          description: Successful language detection
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateDetect_400_response"
          description: Bad request
      security:
      - kagi-translate: []
      summary: Language Detection
      tags:
      - Translate
      x-codeSamples:
      - lang: curl
        label: Curl
        source: |
          curl -X POST "https://translate.kagi.com/api/detect" \
            -H "Authorization: Bearer YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{"text": "Hello world"}'
      - lang: JavaScript
        label: JavaScript
        source: |
          const response = await fetch('https://translate.kagi.com/api/detect', {
            method: 'POST',
            headers: {
              'Authorization': 'Bearer YOUR_API_KEY',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              text: 'Hello world'
            })
          });
          const data = await response.json();
          console.log(data);
    servers:
    - description: Translate production endpoint
      url: https://translate.kagi.com
  /api/dictionary:
    post:
      description: |
        Provides dictionary definitions for words in different languages.

        **Translation behavior:**
        - Fields translated to `definition_language`: definition, notes, etymology, part_of_speech, usage_level, dialect
        - Fields that remain in `word_language`: word, synonyms, pronunciation, plural, related_words, examples (with translations in parentheses when languages differ)
        - Fields always in English (strict enums): gender ("masculine", "feminine", "neuter", "common"), temporal_trend ("increasing", "stable", "decreasing")
      operationId: translateDictionary
      requestBody:
        content:
          application/json:
            examples:
              basicDefinition:
                description: Simple word definition lookup
                summary: Basic Definition
                value:
                  word: hello
                  word_language: en
                  definition_language: en
              crossLanguageDefinition:
                description: Get definition in a different language
                summary: Cross-language Definition
                value:
                  word: hola
                  word_language: es
                  definition_language: en
              streamingDefinition:
                description: Get definition with streaming response
                summary: Streaming Definition
                value:
                  word: hello
                  word_language: en
                  definition_language: en
                  stream: true
              safeDefinition:
                description: Get definition with NSFW content filtering enabled
                summary: Safe Definition (NSFW filtered)
                value:
                  word: hello
                  word_language: en
                  definition_language: en
                  nsfw: false
            schema:
              $ref: "#/components/schemas/translateDictionary_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonDefinition:
                  description: Word definition as structured JSON
                  summary: JSON Definition
                  value:
                    definition:
                      word: hello
                      primary_meaning:
                        definition: Used as a greeting or to begin a phone conversation
                        part_of_speech:
                        - exclamation
                        usage_level:
                        - standard
                        dialect:
                        - US
                        - UK
                        synonyms:
                        - hi
                        - greetings
                        - hey
                        - howdy
                      secondary_meanings:
                      - definition: An expression of surprise
                        part_of_speech:
                        - exclamation
                        usage_level:
                        - informal
                        dialect:
                        - US
                        synonyms:
                        - wow
                        - oh my
                        - goodness
                      - definition: A call for attention
                        part_of_speech:
                        - noun
                        usage_level:
                        - standard
                      examples:
                      - "Hello, how are you?"
                      - Hello! I didn't see you there.
                      pronunciation: həˈloʊ
                      etymology: "From earlier hallo, hollo, which is from Old High\
                        \ German halâ, holâ"
                      notes: Be careful with tone - 'hello' can sound overly formal
                        in casual text messages where 'hi' or 'hey' might be preferred.
                      temporal_trend: stable
                    language:
                      iso: en
                      label: English
              schema:
                $ref: "#/components/schemas/translateDictionary_200_response"
            text/plain:
              example: |
                data: {"detected_language": {"iso": "en", "label": "English"}}

                data: {"definition_field": {"field": "word", "value": "hello"}}

                data: {"definition_field": {"field": "primary_meaning", "value": {"definition": "Used as a greeting or to begin a phone conversation", "part_of_speech": ["exclamation"], "usage_level": ["standard"], "synonyms": ["hi", "greetings", "hey"]}}}

                data: {"definition_field": {"field": "secondary_meaning", "value": {"definition": "An expression of surprise", "part_of_speech": ["exclamation"], "usage_level": ["informal"], "synonyms": ["wow", "oh my"]}}}

                data: {"definition_field": {"field": "examples", "value": ["Hello, how are you?", "Hello! I didn't see you there."]}}

                data: {"definition_field": {"field": "pronunciation", "value": "həˈloʊ"}}

                data: {"definition_field": {"field": "etymology", "value": "From earlier hallo, hollo"}}

                data: {"done": true}
              schema:
                description: Server-Sent Events format with definition fields
                type: string
          description: Successful dictionary lookup
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateDictionary_400_response"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateDictionary_500_response"
          description: Server error
      security:
      - kagi-translate: []
      summary: Dictionary
      tags:
      - Translate
      x-codeSamples:
      - lang: curl
        label: Curl
        source: |
          curl -X POST "https://translate.kagi.com/api/dictionary" \
            -H "Authorization: Bearer YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "word": "hello",
              "word_language": "en",
              "definition_language": "en"
            }'
      - lang: JavaScript
        label: JavaScript
        source: |
          const response = await fetch('https://translate.kagi.com/api/dictionary', {
            method: 'POST',
            headers: {
              'Authorization': 'Bearer YOUR_API_KEY',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              word: 'hello',
              word_language: 'en',
              definition_language: 'en'
            })
          });
          const data = await response.json();
          console.log(data.definition);
      - lang: curl
        label: Curl (Streaming)
        source: |
          curl -X POST "https://translate.kagi.com/api/dictionary" \
            -H "Authorization: Bearer YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "word": "hello",
              "word_language": "en",
              "definition_language": "en",
              "stream": true
            }' \
            --no-buffer
    servers:
    - description: Translate production endpoint
      url: https://translate.kagi.com
  /api/list-languages:
    get:
      description: |
        Returns a list of languages supported by the translation API.

        The response includes language codes, names, and whether each language supports formality settings.
      operationId: translateListLanguages
      parameters:
      - description: Type of languages to return ('source' or 'target')
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - source
          - target
          type: string
        style: form
      - description: "Locale code to use for language names (e.g., 'en', 'de', 'fr')"
        explode: true
        in: query
        name: locale
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                target:
                  summary: Example response for target languages
                  value:
                  - language: EN
                    name: English
                    supports_formality: false
                  - language: DE
                    name: German
                    supports_formality: true
                  - language: FR
                    name: French
                    supports_formality: true
              schema:
                items:
                  $ref: "#/components/schemas/translateListLanguages_200_response_inner"
                type: array
          description: A list of supported languages
        "401":
          content:
            application/json:
              examples:
                default:
                  summary: Response with unauthorized error
                  value:
                    meta:
                      id: 69c3f5c4168f66b860e951c585550f1c
                      node: us-central1
                      ms: 213
                    data: null
                    error:
                    - code: "2"
                      url: https://help.kagi.com/api/errors#unauthorized
                      message: Unauthorized
                      location: null
              schema:
                $ref: "#/components/schemas/errorEnvelope"
          description: Access token is missing or invalid
      security:
      - kagi-translate: []
      summary: List Supported Languages
      tags:
      - Translate
      x-codeSamples:
      - lang: curl
        label: Curl
        source: |
          curl -X GET "https://translate.kagi.com/api/list-languages?type=target" \
            -H "Authorization: Bearer YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |
          const response = await fetch(
            'https://translate.kagi.com/api/list-languages?type=target',
            {
              method: 'GET',
              headers: {
                'Authorization': 'Bearer YOUR_API_KEY'
              }
            }
          );
          const languages = await response.json();
          console.log(languages);
    servers:
    - description: Translate production endpoint
      url: https://translate.kagi.com
  /api/romanize:
    get:
      description: "Converts non-Latin script text to Latin script (romanization/transliteration).\
        \ Uses standardized romanization styles for each language: Hepburn for Japanese,\
        \ Pinyin for Chinese, ALA-LC for Arabic, etc."
      operationId: translateRomanize
      parameters:
      - description: Text to romanize
        examples:
          japaneseText:
            value: こんにちは
          russianText:
            value: Привет мир
          chineseText:
            value: 你好世界
        explode: true
        in: query
        name: text
        required: true
        schema:
          type: string
        style: form
      - description: Language code (ISO-639) of the source text
        examples:
          japaneseText:
            value: ja
          russianText:
            value: ru
          chineseText:
            value: zh
        explode: true
        in: query
        name: language
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                japaneseText:
                  value:
                    romanization: konnichiwa
                russianText:
                  value:
                    romanization: Privet mir
                chineseText:
                  value:
                    romanization: nǐ hǎo shì jiè
                arabicText:
                  value:
                    romanization: marḥaban bil-ʿālam
                hebrewText:
                  value:
                    romanization: shalom olam
                thaiText:
                  value:
                    romanization: sawatdi chao lok
                koreanText:
                  value:
                    romanization: annyeonghaseyo segye
                greekText:
                  value:
                    romanization: geia sou kosme
              schema:
                $ref: "#/components/schemas/translateRomanize_200_response"
          description: Successful romanization
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateDetect_400_response"
          description: Bad request
      security:
      - kagi-translate: []
      summary: Text Romanization
      tags:
      - Translate
      x-codeSamples:
      - lang: curl
        label: Curl
        source: |
          curl -X GET "https://translate.kagi.com/api/romanize?text=こんにちは&language=ja" \
            -H "Authorization: Bearer YOUR_API_KEY"
      - lang: JavaScript
        label: JavaScript
        source: |
          const response = await fetch(
            'https://translate.kagi.com/api/romanize?text=こんにちは&language=ja',
            {
              method: 'GET',
              headers: {
                'Authorization': 'Bearer YOUR_API_KEY'
              }
            }
          );
          const data = await response.json();
          console.log(data.romanization);
    servers:
    - description: Translate production endpoint
      url: https://translate.kagi.com
  /api/word-insights:
    post:
      description: |
        Provides detailed linguistic insights and alternatives for translated text. The API identifies 3-5 key
        words or phrases in the translated text that have meaningful alternative expressions, and returns:

        1. A marked version of the translation with insight markers
        2. Alternative expressions for each identified word/phrase
        3. Brief explanations for each alternative in the target explanation language
        4. Type labels categorizing each insight (e.g., "Lexical choice", "Cultural reference")
      operationId: translateWordInsights
      requestBody:
        content:
          multipart/form-data:
            examples:
              englishToSpanish:
                value:
                  original_text: Hello world
                  translated_text: Hola mundo
                  target_explanation_language: en
            schema:
              $ref: "#/components/schemas/translateWordInsights_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                spanishInsight:
                  value:
                    marked_translation: <<INSIGHT_1>> <<INSIGHT_2>>
                    insights:
                    - id: INSIGHT_1
                      original_text: Hola
                      variations:
                      - text: Hola
                        explanation: "Casual, everyday greeting"
                      - text: Saludos
                        explanation: "More formal, broader greeting"
                      - text: Qué tal
                        explanation: "Casual, implies 'how are you'"
                      type: Greeting style
                    - id: INSIGHT_2
                      original_text: mundo
                      variations:
                      - text: mundo
                        explanation: Literal translation of 'world'
                      - text: a todos
                        explanation: Addresses people directly
                      type: Object reference
              schema:
                $ref: "#/components/schemas/translateWordInsights_200_response"
          description: Detailed linguistic insights for the translated text
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateWordInsights_400_response"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateAlternatives_401_response"
          description: Unauthorized
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateAlternatives_402_response"
          description: Payment Required
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translateWordInsights_500_response"
          description: Server error
      security:
      - kagi-translate: []
      summary: Word Insights
      tags:
      - Translate
      x-codeSamples:
      - lang: curl
        label: Curl
        source: |
          curl -X POST "https://translate.kagi.com/api/word-insights" \
            -H "Authorization: Bearer YOUR_API_KEY" \
            -H "Content-Type: multipart/form-data" \
            -F "original_text=Hello world" \
            -F "translated_text=Hola mundo" \
            -F "target_explanation_language=en"
      - lang: JavaScript
        label: JavaScript
        source: |
          const formData = new FormData();
          formData.append('original_text', 'Hello world');
          formData.append('translated_text', 'Hola mundo');
          formData.append('target_explanation_language', 'en');

          const response = await fetch(
            'https://translate.kagi.com/api/word-insights',
            {
              method: 'POST',
              headers: {
                'Authorization': 'Bearer YOUR_API_KEY'
              },
              body: formData
            }
          );

          const data = await response.json();
          console.log(data);
    servers:
    - description: Translate production endpoint
      url: https://translate.kagi.com
  /api/translate:
    post:
      description: "Translates text between languages with customizable options for\
        \ gender, formality, and style. Supports both single text translation and\
        \ efficient batch translation of multiple text snippets with context awareness."
      operationId: translate
      requestBody:
        content:
          application/json:
            examples:
              basicTranslation:
                description: Simple text translation from English to Spanish
                summary: Basic Translation
                value:
                  text: Hello world
                  source_lang: en
                  target_lang: es
              batchTranslation:
                description: Translate multiple texts at once from English to French
                summary: Batch Translation
                value:
                  text:
                  - How are you?
                  - The sun is shining
                  - I am happy to meet you
                  source_lang: en
                  target_lang: fr
              formalTranslation:
                description: Translation with formal language from English to German
                summary: Formal Translation
                value:
                  text: Can you help me?
                  source_lang: en
                  target_lang: de
                  formality: more
              genderedTranslation:
                description: Translation with specific gender context
                summary: Gendered Translation
                value:
                  text: I am happy to meet you
                  source_lang: en
                  target_lang: fr
                  speaker_gender: feminine
              streamingTranslation:
                description: Get translation results as a stream of text chunks
                summary: Streaming Translation
                value:
                  text: Hello world
                  source_lang: en
                  target_lang: es
                  stream: true
              dictionaryLookup:
                description: Get translation with dictionary definitions
                summary: Dictionary Lookup
                value:
                  text: casa
                  source_lang: es
                  target_lang: en
                  dictionary_language: en
            schema:
              $ref: "#/components/schemas/translate_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                basicTranslation:
                  description: Simple text translation response
                  summary: Basic Translation
                  value:
                    translation: Hola mundo
                    detectedLanguage:
                      iso: en
                      label: English
                batchTranslation:
                  description: Response for multiple texts translated at once
                  summary: Batch Translation
                  value:
                    snippets:
                    - Comment ça va?
                    - Le soleil brille
                    - Je suis heureux de vous rencontrer
                formalTranslation:
                  description: Response with formal language translation
                  summary: Formal Translation
                  value:
                    translation: Können Sie mir helfen?
                    detectedLanguage:
                      iso: en
                      label: English
                genderedTranslation:
                  description: Response with gendered language
                  summary: Gendered Translation
                  value:
                    translation: Je suis heureuse de vous rencontrer
                    detectedLanguage:
                      iso: en
                      label: English
                dictionaryLookup:
                  description: Response with dictionary definition
                  summary: Dictionary Lookup Response
                  value:
                    translation: house
                    detectedLanguage:
                      iso: es
                      label: Spanish
                    definition:
                      word: casa
                      phonetic: /ˈkasa/
                      definitions:
                      - partOfSpeech: noun
                        meanings:
                        - definition: "A building for human habitation, especially\
                            \ one that is lived in by a family or small group of people"
                          example: Vivo en una casa grande
                          synonyms:
                          - home
                          - residence
                          - dwelling
                          - domicile
              schema:
                $ref: "#/components/schemas/translate_200_response"
            text/event-stream:
              examples:
                streamingTranslation:
                  description: Server-sent event stream format example
                  summary: Streaming Translation
                  value: |
                    # First event contains detected language event: message data: {"detectedLanguage":{"iso":"en","label":"English"}}

                    # Dictionary definition (if requested) event: message data: {"definition":{"word":"hello","phonetic":"/həˈloʊ/","definitions":[{"partOfSpeech":"exclamation","meanings":[{"definition":"Used as a greeting or to begin a phone conversation","example":"hello there, Katie!","synonyms":["hi","greetings"]}]}]}}

                    # Subsequent events contain translation chunks event: message data: {"delta":"Hola"}

                    event: message data: {"delta":" mundo"}
              schema:
                description: Server-sent events stream of translation chunks
                type: string
          description: Successful translation
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translate_400_response"
          description: Bad request
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/translate_500_response"
          description: Server error
      security:
      - kagi-translate: []
      summary: Text Translation
      tags:
      - Translate
      x-codeSamples:
      - lang: curl
        label: Curl
        source: |
          curl -X POST "https://translate.kagi.com/api/translate" \
            -H "Authorization: Bearer YOUR_API_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "text": "Hello world",
              "source_lang": "en",
              "target_lang": "es"
            }'
      - lang: JavaScript
        label: JavaScript
        source: |
          const response = await fetch('https://translate.kagi.com/api/translate', {
            method: 'POST',
            headers: {
              'Authorization': 'Bearer YOUR_API_KEY',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              text: 'Hello world',
              source_lang: 'en',
              target_lang: 'es'
            })
          });
          const data = await response.json();
          console.log(data.translation);
    servers:
    - description: Translate production endpoint
      url: https://translate.kagi.com
components:
  responses:
    unauthorized:
      content:
        application/json:
          examples:
            default:
              summary: Response with unauthorized error
              value:
                meta:
                  id: 69c3f5c4168f66b860e951c585550f1c
                  node: us-central1
                  ms: 213
                data: null
                error:
                - code: "2"
                  url: https://help.kagi.com/api/errors#unauthorized
                  message: Unauthorized
                  location: null
          schema:
            $ref: "#/components/schemas/errorEnvelope"
      description: Access token is missing or invalid
  schemas:
    meta:
      additionalProperties: true
      description: This object is subject to change as it is provided for debugging
        purposes. Fields may be added or removed as required. Don't build any hard
        dependancies on any of this data.
      example:
        node: node
        trace: trace
        ms: 0
        id: id
      properties:
        trace:
          description: "Trace ID that can be used to debug individual API requests.\
            \ Provide this, if needed, when contacting Kagi support."
          type: string
        id:
          type: string
        node:
          description: The hostname of the node that fulfilled the request.
          type: string
        ms:
          description: "how long the request took to fulfill, excluding round trip\
            \ to the client."
          type: integer
      type: object
    searchResult:
      description: A search result that fulfills the query sent to the kagi API
      example:
        snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an American\
          \ businessman, inventor, and investor best known for co-founding the ..."
        image:
          width: 310
          url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
          height: 300
        time: 2024-11-29T03:54:26Z
        title: Steve Jobs - Wikipedia
        url: https://en.wikipedia.org/wiki/Steve_Jobs
        props:
          key: ""
      properties:
        url:
          description: The location of the result. This is the direct URL to the resource
            that matches the query
          example: https://en.wikipedia.org/wiki/Steve_Jobs
          type: string
        title:
          description: "This is the title of the resource. For HTML documents, it\
            \ reflects `<title>`. For videos, it is the name that would be displayed\
            \ on the video site."
          example: Steve Jobs - Wikipedia
          type: string
        snippet:
          description: A short summary of the contents of the resource
          example: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          type: string
        time:
          description: The date when the resource was created or last updated.
          example: 2024-11-29T03:54:26Z
          type: string
        image:
          $ref: "#/components/schemas/searchResult_image"
        props:
          additionalProperties: true
          description: Holds arbitrary result metadata
          type: object
      required:
      - title
      - url
      type: object
    errorDetail:
      description: API error response for Extract operations
      example:
        code: extract.invalid_url
        location: "pages[0].url"
        message: URL must be a valid HTTPS URL
        url: https://help.kagi.com/api/errors#extract.invalid_url
      properties:
        code:
          description: Namespaced error code
          example: extract.invalid_url
          type: string
        url:
          description: URL to error documentation
          example: https://help.kagi.com/api/errors#extract.invalid_url
          format: uri
          type: string
        message:
          description: Human-readable error message
          example: URL must be a valid HTTPS URL
          nullable: true
          type: string
        location:
          description: Field location where the error occurred
          example: "pages[0].url"
          nullable: true
          type: string
      required:
      - code
      - url
      type: object
    errorEnvelope:
      description: API error response envelope containing metadata and an array of
        error details
      example:
        data:
        - ""
        - ""
        meta:
          node: node
          trace: trace
          ms: 0
          id: id
        error:
        - code: extract.invalid_url
          location: "pages[0].url"
          message: URL must be a valid HTTPS URL
          url: https://help.kagi.com/api/errors#extract.invalid_url
        - code: extract.invalid_url
          location: "pages[0].url"
          message: URL must be a valid HTTPS URL
          url: https://help.kagi.com/api/errors#extract.invalid_url
      properties:
        meta:
          $ref: "#/components/schemas/meta"
        data:
          description: Empty data array when error occurs
          items: {}
          nullable: true
          type: array
        error:
          description: Array of error detail objects describing what went wrong
          items:
            $ref: "#/components/schemas/errorDetail"
          type: array
      required:
      - error
      - meta
      type: object
    searchObject:
      example:
        snippet: snippet
        image:
          width: 2
          url: url
          height: 5
        thumbnail:
          width: 5
          url: url
          height: 1
        t: 0
        rank: 6
        published: published
        title: title
        url: url
      properties:
        t:
          description: This is always set to 0. It is used as a flag to identify if
            the result was a rearch result or a related searches object.
          type: integer
        rank:
          description: "Order of resarch results, the highest rank is 1 and should\
            \ identify results that match the search request better."
          type: integer
        url:
          description: URL of the resource identified in the search result.
          type: string
        title:
          description: "Title of the search result. This can be taken from the title\
            \ of the html document, or the title of a media resource."
          type: string
        snippet:
          description: "a short desciption, or summary, of the content."
          type: string
        published:
          description: the date the rearch result was created
          type: string
        thumbnail:
          $ref: "#/components/schemas/searchObject_thumbnail"
        image:
          $ref: "#/components/schemas/searchObject_image"
      type: object
    pageInput:
      description: A single page to extract content from
      properties:
        url:
          description: |
            The HTTPS URL of the page to extract content from.
            Must use HTTPS scheme with a valid host.
          example: https://example.com/article
          format: uri
          type: string
      required:
      - url
      type: object
    extractRequest:
      description: Request body for content extraction
      properties:
        pages:
          description: |
            Array of pages to extract content from. Must contain 1-10 URLs.
            Each URL must be a valid HTTPS URL.
          items:
            $ref: "#/components/schemas/pageInput"
          maxItems: 10
          minItems: 1
          type: array
        timeout:
          description: Optional timeout in seconds for the extraction operation
          example: 30
          format: float
          type: number
        format:
          default: json
          description: Response format
          enum:
          - json
          - markdown
          example: json
          type: string
      required:
      - pages
      type: object
    pageOutput:
      description: Extracted content for a single page
      example:
        markdown: |-
          # Article Title

          This is the extracted content...
        url: https://example.com/article
      properties:
        url:
          description: The URL of the extracted page
          example: https://example.com/article
          format: uri
          type: string
        markdown:
          description: Extracted markdown content of the page
          example: |-
            # Article Title

            This is the extracted content...
          nullable: true
          type: string
      required:
      - url
      type: object
    extractResponse:
      description: Response containing extracted content
      example:
        data:
        - markdown: |-
            # Article Title

            This is the extracted content...
          url: https://example.com/article
        - markdown: |-
            # Article Title

            This is the extracted content...
          url: https://example.com/article
        meta:
          node: node
          trace: trace
          ms: 0
          id: id
        errors:
        - code: extract.invalid_url
          location: "pages[0].url"
          message: URL must be a valid HTTPS URL
          url: https://help.kagi.com/api/errors#extract.invalid_url
        - code: extract.invalid_url
          location: "pages[0].url"
          message: URL must be a valid HTTPS URL
          url: https://help.kagi.com/api/errors#extract.invalid_url
      properties:
        meta:
          $ref: "#/components/schemas/meta"
        data:
          description: Array of extracted page content
          items:
            $ref: "#/components/schemas/pageOutput"
          type: array
        errors:
          description: Optional array of errors that occurred during extraction
          items:
            $ref: "#/components/schemas/errorDetail"
          type: array
      required:
      - data
      - meta
      type: object
    search_request_lens:
      description: "Inline description of a lens to apply to the search. Options supplied\
        \ by the lens take precedence over those supplied by the user in their search\
        \ terms (e.g., `site:` operators), allowing you to restrict the scope of the\
        \ search to return more relevant results in specific applications."
      properties:
        sites_included:
          description: Search only these domains.
          items:
            description: domains
            type: string
          type: array
        sites_excluded:
          description: Exclude these domains from the search.
          items:
            description: domains
            type: string
          type: array
        keywords_included:
          description: Return only results containing these keywords.
          items:
            description: keywords
            type: string
          type: array
        keywords_excluded:
          description: Exclude results containing these keywords.
          items:
            description: keywords
            type: string
          type: array
        file_type:
          description: "A specific file type to search for. (e.g., `pdf`)"
          type: string
        time_after:
          description: Filters for web pages that have been updated or published *after*
            the given date.
          format: date
          type: string
        time_before:
          description: Filters for web pages that have been updated or published *before*
            the given date.
          format: date
          type: string
        time_relative:
          description: "Filters for web pages that have been updated or published\
            \ in the given interval, relative to today's date."
          enum:
          - day
          - week
          - month
          type: string
        search_region:
          description: "Requests results localized to a specific region. Can be any\
            \ valid [ISO-3166-1 Alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements),\
            \ or the special value `no_region`, that will try to get the most general\
            \ results possible."
          type: string
      type: object
    search_request_filters:
      description: Filters to apply to search results for more targeted queries.
      properties:
        region:
          description: Filter results to a specific region using an ISO 3166-1 Alpha-2
            country code. See https://help.kagi.com/api/regions for supported codes.
          type: string
        after:
          description: Filter for results published or updated after this date.
          format: date
          type: string
        before:
          description: Filter for results published or updated before this date.
          format: date
          type: string
      type: object
    search_request_extract:
      description: "Configuration for extracting page content from search results.\
        \ When provided, the API will fetch and extract the content from the specified\
        \ number of result pages."
      properties:
        count:
          description: Number of search results to extract content from. Must be between
            1 and 10.
          maximum: 10
          minimum: 1
          type: integer
        timeout:
          description: "Timeout in seconds for extraction of each page. If omitted,\
            \ uses the default timeout."
          maximum: 4
          minimum: 0.5
          type: number
      type: object
    search_request_personalizations_domains_inner:
      properties:
        domain:
          description: "The domain to personalize (e.g., \"example.com\")."
          type: string
        bias:
          description: Bias value to apply to results from this domain.
          type: number
      type: object
    search_request_personalizations_regexes_inner:
      properties:
        regex:
          description: The regex pattern to match.
          type: string
        replacement:
          description: The replacement string to apply when the pattern matches.
          type: string
      type: object
    search_request_personalizations:
      description: Personalization rules to customize search result ranking. Allows
        specifying domain biases and regex-based replacements.
      properties:
        domains:
          description: Domain-level personalization rules (maximum 1000 rules). Each
            rule can boost or lower the ranking of results from specific domains.
          items:
            $ref: "#/components/schemas/search_request_personalizations_domains_inner"
          type: array
        regexes:
          description: "Regex-based personalization rules (maximum 1000 rules, max\
            \ 1000 bytes per pattern)."
          items:
            $ref: "#/components/schemas/search_request_personalizations_regexes_inner"
          type: array
      type: object
    search_request:
      description: Used to upload the search query
      properties:
        query:
          description: Search query to run.
          type: string
        workflow:
          default: search
          description: Type of results to return.
          enum:
          - search
          - images
          - videos
          - news
          - podcasts
          type: string
        format:
          default: json
          description: Format to serialize the API response as.
          enum:
          - json
          - markdown
          type: string
        lens_id:
          description: Lens to apply to the search. Can be a built-in lens's identifier
            or a lens ID as shown on https://kagi.com/settings/lenses when a lens
            is set to be shareable. Can be just the ID portion of the URL (`https://kagi.com/lenses/ID`)
            or the full URL.
          type: string
        lens:
          $ref: "#/components/schemas/search_request_lens"
        timeout:
          description: "Number of seconds to allow for collecting search results.\
            \ Lower values will return results more quickly, but may be lower quality\
            \ or inconsistent between calls. If omitted, will use the latest recommended\
            \ value by Kagi."
          maximum: 4
          minimum: 0.5
          type: number
        page:
          description: Page number for paginated results. Must be between 1 and 10.
          maximum: 10
          minimum: 1
          type: integer
        limit:
          description: Maximum number of results to return. Must be between 1 and
            1024.
          maximum: 1024
          minimum: 1
          type: integer
        filters:
          $ref: "#/components/schemas/search_request_filters"
        extract:
          $ref: "#/components/schemas/search_request_extract"
        personalizations:
          $ref: "#/components/schemas/search_request_personalizations"
      required:
      - query
      type: object
    search_200_response_data:
      description: "Holds all the search results for the query specified. As results\
        \ have different types and sources, they are separated into different fields\
        \ within this object. For example image results are stored under `data.image`\
        \ while news results are stored under `data.news`. All results will have the\
        \ same main structure, but additional data might be stored under the `data.{name}[].props`\
        \ path. Please look at each different type of result for more information\
        \ about this."
      example:
        news:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        image:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        podcast_creator:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        direct_answer:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        code:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        web_archive:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        interesting_news:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        infobox:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        related_search:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        video:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        interesting_finds:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        listicle:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        search:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        adjacent_question:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        podcast:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        weather:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        package_tracking:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        public_records:
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
        - snippet: "Steven Paul Jobs (February 24, 1955 – October 5, 2011) was an\
            \ American businessman, inventor, and investor best known for co-founding\
            \ the ..."
          image:
            width: 310
            url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Steve_Jobs_Headshot_2010-CROP_%28cropped_2%29.jpg/330px-Steve_Jobs_Headshot_2010-CROP_%28cropp    ed_2%29.jpg
            height: 300
          time: 2024-11-29T03:54:26Z
          title: Steve Jobs - Wikipedia
          url: https://en.wikipedia.org/wiki/Steve_Jobs
          props:
            key: ""
      properties:
        search:
          description: Contains all search results for html pages or websites.
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        image:
          description: Contains all search results for images.
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        video:
          description: Contains all search results for videos.
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        podcast:
          description: Contains all search results for podcasts.
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        podcast_creator:
          description: Contains all search results for creators of podcasts.
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        news:
          description: Contains all search results for news articles.
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        adjacent_question:
          description: Contains results that are obtained by searching for slightly
            different queries. These questions are stored under the `props.question`
            path.
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        direct_answer:
          description: "If the search query was a math equation, or unit conversions,\
            \ things that can be answered quickly, the result will be in here."
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        interesting_news:
          description: Contains news results from publishers collected and stored
            in Kagi's news index.
          items:
            $ref: "#/components/schemas/searchResult"
          type: array
        interesting_finds:
[...]
